.story{
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {  
    color: #444;
    cursor: pointer;    
    text-align: left;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background: none;
}

#view-code-diagram-btn{
    margin-bottom: 0px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  margin-top: 4px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

