@page "/"
@using AutoDoc_Front_End.Data
@inject CodeNarratorService narratorService

<PageTitle>Code narrator</PageTitle>

@if (codeNarrations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="code-narration-feed">
        @foreach (var codeNarration in codeNarrations)
        {
            <div class="@codeNarration.FunctionName-story story">
                <h3>@codeNarration.FunctionName</h3>
                <p>@codeNarration.Explanation</p>
                <pre><code>@codeNarration.Code</code></pre>
            </div>
        }
    </div>
}

@code {
    private List<DocumentItem>? codeNarrations;

    protected override async Task OnInitializedAsync()
    {
        codeNarrations = await narratorService.GetCodeNarrationAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}