@page "/"
@using AutoDoc_Front_End.Data
@inject CodeNarratorService narratorService

<PageTitle>Code narrator</PageTitle>

@if (codeNarrations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="code-narration-feed">
        @foreach (var codeNarration in codeNarrations)
        {
            <div id="@codeNarration.FunctionName-story" class="story">
                <h3>@codeNarration.FunctionName</h3>
                <p>@codeNarration.Explanation</p>
                <button class="accordion">View code</button>
                <div class="panel">
                    <pre><code class="language-csharp">@codeNarration.Code</code></pre>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<DocumentItem>? codeNarrations;

    protected override async Task OnInitializedAsync()
    {
        codeNarrations = await narratorService.GetCodeNarrationAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}